@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

@layer layout {
  .grid-layout {
    display: grid;
    grid-template-columns:
      [full-start] minmax(var(--spacing-md), 1fr)
      [content-start] min(var(--container-max, 75rem), 100% - calc(var(--spacing-md) * 2))
      [content-end] minmax(var(--spacing-md), 1fr)
      [full-end];
  }

  .grid-layout > * {
    grid-column: content;
  }

  .grid-layout > .full-bleed {
    grid-column: full;
  }
}