@use "../abstracts/mixins" as *;

@layer layout {
  .section {
    grid-column: content;
    padding-block: var(--spacing-3xl);
  }

  .section-full {
    grid-column: full;
    padding-block: var(--spacing-3xl);
  }

  @include mq(md) {
    .section,
    .section-full {
      padding-block: var(--spacing-4xl);
    }
  }
}