@use "../abstracts/mixins" as *;

@layer layout {
  .sidebar-layout {
    display: grid;
    gap: var(--sidebar-gap, var(--spacing-xl));
    grid-template-columns: 1fr;
  }

  @include mq(lg) {
    .sidebar-layout.sidebar-right {
      grid-template-columns: 1fr var(--sidebar-width, 18.75rem);
    }

    .sidebar-layout.sidebar-left {
      grid-template-columns: var(--sidebar-width, 18.75rem) 1fr;
    }
  }
}