---
import "./radio.scss";

interface Props {
  name?: string
  value?: string
  checked?: boolean
  disabled?: boolean
}

const {
  name,
  value,
  checked = false,
  disabled = false
} = Astro.props;
---

<label class="radio">

  <input
    class="radio__input"
    type="radio"
    name={name}
    value={value}
    checked={checked}
    disabled={disabled}
  />

  <span class="radio__control"></span>

  <span class="radio__label">
    <slot />
  </span>

</label>