---
export interface Props {
  id?: string;
  class?: string;
}

const {
  id,
  class: className,
  ...restProps
} = Astro.props;
---

<p
  {...restProps}
  id={id}
  class:list={[
    "field-error",
    className,
  ]}
>
  <slot />
</p>