---
export interface Props {
  gap?: string;
  class?: string;
}

const {
  gap = "0.5rem",
  class: className
} = Astro.props;
---

<div
  class:list={["cluster", className]}
  style={`--cluster-gap:${gap}`}
>
  <slot />
</div>