---
import Navbar from "@/components/widgets/navbar/Navbar.astro"

const links = [
    {label: "Home", href: "/"},
    {
        label: "Contact", href: "/contact",
        children: [
            {label: "All posts", href: "/blog"}
        ]

    },
    {label: "About", href: "/about"}
];

---
<header>
    <Navbar links={links}>
    <h2>HEADER</h2>
</header>