---
import "./switch.scss";

interface Props {
  name?: string
  checked?: boolean
  disabled?: boolean
}

const {
  name,
  checked = false,
  disabled = false
} = Astro.props;
---

<label class="switch">

  <input
    class="switch__input"
    type="checkbox"
    role="switch"
    name={name}
    checked={checked}
    disabled={disabled}
  />

  <span class="switch__track">
    <span class="switch__thumb"></span>
  </span>

</label>