---
import "./tag.scss"

interface Props {
  variant?: "default" | "primary" | "outline"
}

const { variant = "default" } = Astro.props
---

<span class="tag" data-variant={variant}>
  <slot />
</span>