---
import "./link.scss"

interface Props {
  href: string
  variant?: "default" | "muted" | "underline"
  external?: boolean
}

const {
  href,
  variant = "default",
  external = false
} = Astro.props
---

<a
  class="link"
  data-variant={variant}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
>
  <slot />
</a>